<html> My out life order is of. Please try again later. 

<form method = "POST" action= "/" >

<div>
	<label>Name: </label> 
	<input name = "theName"/>
	<label>Age: </label> 
	<input name = "theAge"/>
	<label>Sex: </label> 
	<select name = "theSex">
		<option value="M" >"M"</option>
		<option value="F" >"F"</option>
	</select>	
</div>
<div>
	<label>Pet Name: </label> 
	<input name = "petName"/>
	<label>Pet Type: </label> 
	<input name = "petType"/>
</div>
<button type = "submit" > Submit </button>
</form>

</html>